body {
    color: rgb(65, 75, 86);
    font-family: Tahoma;
    margin:0;
    background-color: rgb(25,35,71);

}
div {
      min-height:100vh:
      width: 100vw;
}


h1 {
    font-size:4em;
  }

}
p {
    width: 40%;
    font-size:2em;
}

h5 {
    width:40%
    font-size:5em
}
